<template>
  <v-app>
    <top-menu-bar></top-menu-bar>
    <v-main>
      <router-view />
    </v-main>
    <v-fab-transition>
      <v-btn
        v-if="$route.name !== 'Home'"
        @click="$router.go(-1)"
        fab
        large
        fixed
        left
        bottom
      >
        <v-icon>fa-arrow-left</v-icon>
      </v-btn>
    </v-fab-transition>
    <bottom-footer></bottom-footer>
  </v-app>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';
  import TopMenuBar from './components/TopMenuBar.vue';
  import BottomFooter from './components/BottomFooter.vue';

  @Component({
    components: { TopMenuBar, BottomFooter },
    name: 'App',
  })
  export default class App extends Vue {
    async created() {
      await this.$store.dispatch('updateUserStatus');
    }
  }
</script>
