<template>
  <v-footer padless>
    <v-card flat tile width="100%" class="text-center">
      <v-card-text>
        <v-btn
          :to="{ name: 'AdminPanel' }"
          :disabled="$store.getters.getUser.role !== role.Admin"
          outlined
          color="teal"
        >
          Panel administratora
        </v-btn>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-text class="white--text">
        {{ new Date().getFullYear() }} —
        <strong>
          Nierelacyjne Bazy Danych & Przetwarzanie w Chmurach Obliczeniowych
        </strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script lang="ts">
  import { Role } from '@/enums/role';
  import Vue from 'vue';
  import { Component } from 'vue-property-decorator';

  @Component({})
  export default class BottomFooter extends Vue {
    protected role = Role;
  }
</script>
