<template>
  <v-container>
    <v-row align="center">
      <v-col class="col-md-8 col-sm-10 col-9">
        <v-text-field
          dense
          outlined
          hide-details
          height="60"
          label="Tytuł"
          style="font-size: 26pt; font-weight: bold"
          v-model="movie.title"
        ></v-text-field>
      </v-col>
      <v-col class="col-sm-2 col-3 text-right">
        <v-chip class="pl-1 pr-0">
          <v-icon color="yellow" class="mr-1 d-none d-sm-flex">fa-star</v-icon>
          <v-chip :color="(movie.rating || 0) < 5 ? 'red' : 'green'">
            {{ movie.rating || 0 }}
          </v-chip>
        </v-chip>
      </v-col>
    </v-row>
    <v-row no-gutters class="mt-2">
      <v-col class="col-md-3 col-xs-12">
        <v-text-field
          dense
          outlined
          hide-details
          label="Director"
          v-model="movie.director"
        ></v-text-field>
        <v-text-field
          dense
          outlined
          hide-details
          label="Długość filmu"
          class="mt-2"
          v-model="movie.time_length"
        ></v-text-field>
        <v-combobox
          v-model="genreCombobox"
          :filter="filter"
          :hide-no-data="!search"
          :items="items"
          :search-input.sync="search"
          hide-selected
          label="Wybierz gatunki"
          multiple
          outlined
          class="mt-2"
        >
          <template v-slot:no-data>
            <v-list-item>
              <span class="subheading">Create</span>
              <v-chip :color="`${colors[nonce - 1]} lighten-3`" label small>
                {{ search }}
              </v-chip>
            </v-list-item>
          </template>
          <template v-slot:selection="{ attrs, item, parent, selected }">
            <v-chip
              v-if="item === Object(item)"
              v-bind="attrs"
              :color="`${item.color} lighten-3`"
              :input-value="selected"
              label
              small
            >
              <span class="pr-2">
                {{ item.text }}
              </span>
              <v-icon small @click="parent.selectItem(item)"> $delete </v-icon>
            </v-chip>
          </template>
          <template v-slot:item="{ index, item }">
            <v-text-field
              v-if="editing === item"
              v-model="editing.text"
              autofocus
              flat
              background-color="transparent"
              hide-details
              solo
              @keyup.enter="edit(index, item)"
            ></v-text-field>
            <v-chip v-else :color="`${item.color} lighten-3`" dark label small>
              {{ item.text }}
            </v-chip>
            <v-spacer></v-spacer>
            <v-list-item-action @click.stop>
              <v-btn icon @click.stop.prevent="edit(index, item)">
                <v-icon>{{
                  editing !== item ? 'mdi-pencil' : 'mdi-check'
                }}</v-icon>
              </v-btn>
            </v-list-item-action>
          </template>
        </v-combobox>
      </v-col>
      <v-col class="col-md-9 col-xs-12 pl-2">
        <v-textarea
          outlined
          hide-details
          v-model="movie.description"
        ></v-textarea>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-right">
        <v-btn outlined color="red" @click="cancelClicked">
          Anuluj
          <v-icon class="ml-2">fa-times</v-icon>
        </v-btn>
        <v-btn outlined color="teal" class="ml-2" @click="saveClickHandler">
          Zapisz
          <v-icon class="ml-2">fa-save</v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
  import { Vue, Component, Watch, Prop, Emit } from 'vue-property-decorator';
  import { PropType } from 'vue';

  import { AxiosInstance } from 'axios';

  import { Movie } from '@/models/movie';

  @Component({})
  export default class MovieDetails extends Vue {
    @Prop({
      type: Object as PropType<Movie>,
      required: true,
    })
    protected readonly movie!: Movie;

    private axiosInstance: AxiosInstance = this.$store.getters.getAxiosInstance;

    protected items = [
      { header: 'Select an option or create one' },
      {
        text: 'Foo',
        color: 'blue',
      },
      {
        text: 'Bar',
        color: 'red',
      },
    ];
    protected colors = ['green', 'purple', 'indigo', 'cyan', 'teal', 'orange'];
    protected editing = null;
    protected search = null;
    protected nonce = 1;
    protected editingIndex = -1;
    protected genreCombobox = [];

    protected edit(index: number, item: any) {
      if (!this.editing) {
        this.editing = item;
        this.editingIndex = index;
      } else {
        this.editing = null;
        this.editingIndex = -1;
      }
    }

    protected filter(item: any, queryText: string, itemText: string) {
      if (item.header) return false;

      const hasValue = (val: any) => (val != null ? val : '');

      const text = hasValue(itemText);
      const query = hasValue(queryText);

      return (
        text.toString().toLowerCase().indexOf(query.toString().toLowerCase()) >
        -1
      );
    }

    @Emit()
    protected cancelClicked() {
      return;
    }

    @Emit()
    protected saveClicked() {
      return;
    }

    @Emit()
    protected saveFinished(status: boolean) {
      return;
    }

    protected saveClickHandler() {
      this.saveClicked();
      if (!this.movie.id) {
        this.addMovie();
      } else {
        this.updateMovie();
      }
    }

    protected async updateMovie() {
      let status = false;
      try {
        await this.axiosInstance.patch(`/movies/${this.movie.id}`, this.movie);
        status = true;
      } catch (error) {
        console.error(error);
      }
      this.saveFinished(status);
    }

    protected async addMovie() {
      let status = false;
      try {
        await this.axiosInstance.post('/movies', this.movie);
        status = true;
      } catch (error) {
        console.error(error);
      }
      this.saveFinished(status);
    }

    @Watch('genreCombobox')
    protected watchGenreCombobox(val: any, prev: any) {
      if (val.length === prev.length) return;

      this.genreCombobox = val.map((v: any) => {
        if (typeof v === 'string') {
          v = {
            text: v,
            color: this.colors[this.nonce - 1],
          };

          this.items.push(v);

          this.nonce++;
        }

        return v;
      });
    }
  }
</script>
