<template>
  <v-flex>
    <v-card
      v-for="(movie, index) in movies"
      :key="movie.title"
      class="movie my-3"
    >
      <div class="d-flex flex-no-wrap justify-space-between">
        <div>
          <v-card-title
            class="text-h4 font-weight-bold"
            v-text="movie.title"
          ></v-card-title>
          <v-card-subtitle v-text="movie.director"></v-card-subtitle>
          <v-card-text>
            <v-chip class="pl-1 pr-0">
              <v-icon color="yellow">fa-star</v-icon>
              <v-chip :color="movie.rating < 5 ? 'red' : 'green'" class="ml-1">
                {{ movie.rating }}
              </v-chip>
            </v-chip>
            <div class="mt-1">
              <span class="font-weight-bold">Gatunki:</span>
              {{ movie.genre.join(', ') }}
            </div>
          </v-card-text>
          <v-card-actions class="flex-wrap">
            <v-btn
              :to="{ name: 'MovieDetails', params: { id: movie.id } }"
              class="ml-2 mb-4 px-7"
              outlined
              rounded
              large
            >
              Szczegóły
            </v-btn>
            <v-btn
              v-if="adminTools && rentals"
              class="ml-2 mb-4 px-7"
              outlined
              rounded
              large
              @click="returned(index)"
            >
              Zwrócone
            </v-btn>
            <v-btn
              v-if="adminTools && !rentals"
              class="ml-2 mb-4 px-7"
              outlined
              rounded
              large
              color="yellow"
              @click="editClicked(movie.id)"
            >
              Edytuj
              <v-icon class="ml-2">fa-edit</v-icon>
            </v-btn>
            <v-btn
              v-if="adminTools && !rentals"
              class="ml-2 mb-4 px-7"
              outlined
              rounded
              large
              color="red"
              @click="removeClicked(movie.id)"
            >
              Usuń
              <v-icon class="ml-2">fa-trash-alt</v-icon>
            </v-btn>
          </v-card-actions>
        </div>
        <v-avatar class="mr-4 d-none d-sm-flex" size="auto" height="auto" tile>
          <v-img src="@/assets/logo.png" height="100%" contain></v-img>
        </v-avatar>
      </div>
      <div v-if="rentals && rentals.length === movies.length">
        <div>Data wypożyczenia: {{ rentals[index].rental_date }}</div>
        <div>Data terminu zwrotu: {{ rentals[index].deadline_date }}</div>
        <div>
          Data zwrotu: {{ rentals[index].return_date || 'Jeszcze nie oddano' }}
        </div>
      </div>
    </v-card>
  </v-flex>
</template>

<style lang="scss" scoped>
  .movie {
    transition: background-color 0.1s ease-in-out;
    &:hover {
      background-color: black;
    }
  }
</style>

<script lang="ts">
  import { Vue, Component, Emit } from 'vue-property-decorator';
  import { AxiosInstance } from 'axios';

  import { Rental } from '@/models/rental';

  const MovieListProps = Vue.extend({
    props: {
      movies: Array,
      rentals: Array,
      adminTools: Boolean,
    },
  });

  @Component({})
  export default class MoviesList extends MovieListProps {
    private axiosInstance: AxiosInstance = this.$store.getters.getAxiosInstance;

    protected async returned(index: number) {
      const rental = this.rentals[index];
      await this.axiosInstance.delete('/rentals', {
        data: { id: (rental as any).id },
      });
      this.rentals.splice(index, 1);
      this.movies.splice(index, 1);
    }

    @Emit()
    protected editClicked(id: string) {
      return;
    }

    @Emit()
    protected removeClicked(id: string) {
      return;
    }
  }
</script>
