<template>
  <v-app-bar app dark>
    <div class="d-flex align-center">
      <v-img
        alt="Vuetify Logo"
        class="shrink mr-2"
        contain
        src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
        transition="scale-transition"
        width="40"
      />

      <span class="text-h4 d-none d-sm-flex">Wypożyczalnia</span>
    </div>

    <v-spacer></v-spacer>

    <v-menu
      v-model="menu"
      :close-on-content-click="false"
      :nudge-width="200"
      offset-y
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn v-bind="attrs" v-on="on" outlined color="teal">
          <v-avatar v-if="$store.getters.isLoggedIn" class="mr-2" size="30">
            <v-img src="@/assets/logo.png" />
          </v-avatar>
          <span>
            {{
              $store.getters.isLoggedIn
                ? 'Moje konto'
                : 'Logowanie i rejestracja'
            }}
          </span>
          <v-icon class="ml-2">
            {{ menu ? 'fa-caret-up' : 'fa-caret-down' }}
          </v-icon>
        </v-btn>
      </template>

      <v-card v-if="$store.getters.isLoggedIn">
        <v-list>
          <v-list-item>
            <v-list-item-avatar>
              <v-img src="@/assets/logo.png" />
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title>{{
                `${$store.getters.getUser.first_name} ${$store.getters.getUser.last_name}`
              }}</v-list-item-title>
              <v-list-item-subtitle>{{
                `@${$store.getters.getUser.username}`
              }}</v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-action>
              <v-btn :to="{ name: 'MyAccount' }" color="teal" outlined>
                Konto
                <v-icon class="ml-2">fa-user-circle</v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-list>

        <v-divider></v-divider>

        <v-list>
          <v-list-item>
            <v-list-item-action> </v-list-item-action>
          </v-list-item>
        </v-list>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="logout" text>Wyloguj</v-btn>
        </v-card-actions>
      </v-card>

      <v-card v-else elevation="24">
        <v-tabs
          v-model="tabs"
          centered
          style="width: max-content; margin-left: auto; margin-right: auto"
        >
          <v-tab key="login"> Zaloguj się </v-tab>
          <v-tab key="register"> Zarejestruj się </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tabs">
          <v-tab-item key="login">
            <v-form v-model="loginFormValid">
              <v-container>
                <v-row>
                  <v-col class="title text-center"> Logowanie klienta </v-col>
                </v-row>

                <v-row>
                  <v-col class="py-0">
                    <v-text-field
                      v-model="loginDetails.username"
                      label="Nazwa użytkownika / e-mail"
                      prepend-inner-icon="fa-at"
                      outlined
                      dense
                      required
                      :disabled="loggingIn"
                      :rules="[(v) => !!v || 'Login jest wymagany']"
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col class="py-0">
                    <v-text-field
                      v-model="loginDetails.password"
                      label="Hasło"
                      type="password"
                      prepend-inner-icon="fa-key"
                      outlined
                      dense
                      required
                      :disabled="loggingIn"
                      :rules="[(v) => !!v || 'Hasło jest wymagane']"
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-row class="text-right">
                  <v-col>
                    <v-btn
                      color="teal"
                      outlined
                      @click="submitLoginForm"
                      :loading="loggingIn"
                      :disabled="!loginFormValid"
                    >
                      Zaloguj się
                    </v-btn>
                  </v-col>
                </v-row>

                <v-alert
                  v-if="alerts.loginMessage"
                  class="mt-2"
                  outlined
                  type="error"
                >
                  {{ alerts.loginMessage }}
                </v-alert>
              </v-container>
            </v-form>
          </v-tab-item>

          <v-tab-item key="register">
            <v-form v-model="registerFormValid">
              <v-container>
                <v-row>
                  <v-col class="title text-center">
                    Rejestracja nowego konta
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="6" class="py-0">
                    <v-text-field
                      v-model="registerDetails.first_name"
                      label="Imie"
                      prepend-inner-icon="fa-user"
                      placeholder="Jan"
                      persistent-placeholder
                      outlined
                      dense
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="6" class="py-0">
                    <v-text-field
                      v-model="registerDetails.last_name"
                      label="Nazwisko"
                      prepend-inner-icon="fa-user"
                      placeholder="Nowak"
                      persistent-placeholder
                      outlined
                      dense
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="7" class="py-0">
                    <v-text-field
                      v-model="registerDetails.address.city"
                      label="Miasto"
                      prepend-inner-icon="fa-city"
                      placeholder="Sosnowiec"
                      persistent-placeholder
                      outlined
                      dense
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="5" class="py-0">
                    <v-text-field
                      v-model="registerDetails.address.zip_code"
                      label="Kod pocztowy"
                      prepend-inner-icon="fa-address-card"
                      placeholder="12-123"
                      persistent-placeholder
                      outlined
                      dense
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col class="py-0">
                    <v-text-field
                      v-model="registerDetails.address.street"
                      label="Ulica i numer domu"
                      prepend-inner-icon="fa-map-marker"
                      placeholder="ul. Będzińska 39"
                      persistent-placeholder
                      outlined
                      dense
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="7" class="py-0">
                    <v-text-field
                      v-model="registerDetails.email_address"
                      label="E-mail"
                      prepend-inner-icon="fa-envelope"
                      placeholder="uzytkownik123@gmail.com"
                      persistent-placeholder
                      outlined
                      dense
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="5" class="py-0">
                    <v-text-field
                      v-model="registerDetails.username"
                      label="Nazwa użytkownika"
                      prepend-inner-icon="fa-at"
                      placeholder="uzytkownik123"
                      persistent-placeholder
                      outlined
                      dense
                      required
                      :rules="[(v) => !!v || 'Login jest wymagany']"
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="6" class="py-0">
                    <v-text-field
                      v-model="registerDetails.password"
                      label="Hasło"
                      type="password"
                      prepend-inner-icon="fa-key"
                      placeholder="ZAQ!2wsx"
                      persistent-placeholder
                      outlined
                      dense
                      required
                      :rules="[(v) => !!v || 'Hasło jest wymagane']"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="6" class="py-0">
                    <v-text-field
                      label="Powtórz hasło"
                      type="password"
                      prepend-inner-icon="fa-key"
                      placeholder="ZAQ!2wsx"
                      persistent-placeholder
                      outlined
                      dense
                      required
                      :rules="[
                        (v) =>
                          v == registerDetails.password || 'Hasła się różnią',
                      ]"
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-row class="text-right">
                  <v-col>
                    <v-btn
                      color="teal"
                      outlined
                      @click="submitRegisterForm"
                      :disabled="!registerFormValid"
                    >
                      Zarejestruj się
                    </v-btn>
                  </v-col>
                </v-row>

                <v-alert
                  v-if="alerts.registerMessage"
                  class="mt-2"
                  outlined
                  type="error"
                  >{{ alerts.registerMessage }}</v-alert
                >
              </v-container>
            </v-form>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-menu>
  </v-app-bar>
</template>

<script lang="ts">
  import Vue from 'vue';
  import { AxiosInstance } from 'axios';
  import { Component } from 'vue-property-decorator';
  import { User } from '@/models/user';

  @Component({})
  export default class TopMenuBar extends Vue {
    private axiosInstance: AxiosInstance = this.$store.getters.getAxiosInstance;

    protected menu = false;
    protected tabs = 0;

    protected loginFormValid = false;
    protected registerFormValid = false;

    protected loggingIn = false;
    protected registering = false;

    protected alerts = { loginMessage: '', registerMesseage: '' };

    protected loginDetails: User = new User();
    protected registerDetails: User = new User();

    protected async submitLoginForm() {
      this.loggingIn = true;

      let response: User | undefined;
      try {
        response = await this.axiosInstance.post(
          '/users/login',
          this.loginDetails,
        );
      } catch (error) {
        console.error(error);
      }
      this.loggingIn = false;

      if (response) {
        this.menu = false;
        this.loginDetails = new User();
        this.$store.dispatch('updateUserStatus');
      } else {
        this.alerts.loginMessage = 'Nie udało się zalogować';
        setTimeout(() => {
          this.alerts.loginMessage = '';
        }, 3000);
      }
    }

    protected async submitRegisterForm() {
      this.registering = true;

      let response: User | undefined;
      try {
        response = await this.axiosInstance.post(
          '/users/register',
          this.registerDetails,
        );
      } catch (error) {
        console.error(error);
      }
      this.registering = false;

      if (response) {
        this.loginDetails.username = this.registerDetails.username;
        this.loginDetails.password = this.registerDetails.password;
        this.registerDetails = new User();
        this.tabs = 0;
      } else {
        this.alerts.registerMesseage = 'Nie udało się zarejestrować konta';
        setTimeout(() => {
          this.alerts.registerMesseage = '';
        }, 3000);
      }
    }

    protected async logout() {
      await this.axiosInstance.get('/users/logout');
      await this.$store.dispatch('updateUserStatus');
    }
  }
</script>
