<template>
  <v-container v-if="$store.getters.isLoggedIn">
    <v-dialog v-model="dialog" max-width="800" persistent>
      <v-card :loading="dialogLoading">
        <template slot="progress" class="d-flex">
          <v-overlay absolute>
            <v-progress-circular
              size="100"
              width="10"
              indeterminate
            ></v-progress-circular>
          </v-overlay>
        </template>
        <v-card-title>Edycja filmu</v-card-title>
        <movie-details
          v-if="dialog"
          v-bind:movie="editingMovie"
          @cancel-clicked="cancelClicked"
          @save-clicked="saveClicked"
          @save-finished="saveFinished"
        ></movie-details>
      </v-card>
    </v-dialog>

    <v-tabs v-model="tabs" centered>
      <v-tab :key="adminTab.Movies" @change="tabChanged(adminTab.Movies)">
        Filmy
      </v-tab>
      <v-tab :key="adminTab.Users" @change="tabChanged(adminTab.Users)">
        Użytkownicy
      </v-tab>
      <v-tab :key="adminTab.Rentals" @change="tabChanged(adminTab.Rentals)">
        Wypożyczenia
      </v-tab>
    </v-tabs>
    <v-tabs-items v-model="tabs">
      <v-tab-item :key="adminTab.Movies">
        <movies-list
          v-bind:movies="movies"
          v-bind:admin-tools="true"
          @edit-clicked="editClicked"
          @remove-clicked="removeClicked"
        ></movies-list>
        <v-alert
          v-if="movies.length === 0"
          outlined
          shaped
          text
          type="info"
          class="mx-4"
        >
          Brak filmów w bazie
        </v-alert>
        <v-btn outlined color="teal" class="ml-4 mb-4" @click="addMovieClicked"
          >Dodaj nowy</v-btn
        >
      </v-tab-item>
      <v-tab-item :key="adminTab.Users">
        <v-flex>
          Użytkownik
          <v-combobox
            :items="usernames"
            @change="userSelected($event)"
          ></v-combobox>
        </v-flex>
        <v-card> User </v-card>
      </v-tab-item>
      <v-tab-item :key="adminTab.Rentals">
        <v-flex>
          Użytkownik
          <v-combobox
            :items="usernames"
            @change="userSelected($event)"
          ></v-combobox>
        </v-flex>
        <v-card>
          <h2>Wypożyczenia</h2>
          <movies-list
            v-bind:movies="usersMovies"
            v-bind:rentals="usersRentals"
            v-bind:admin-tools="true"
          ></movies-list>
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </v-container>

  <v-container v-else>
    <v-card>
      <v-card-title> Brak dostępu </v-card-title>
      <v-card-text>
        <h1>
          Oj Panie Areczku, panel admina jest dla zarządu. Dla Pana jest
          <router-link :to="{ name: 'MyAccount' }">panel klienta</router-link>.
        </h1>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  import { User } from '@/models/user';
  import { Movie } from '@/models/movie';
  import { Rental } from '@/models/rental';

  import { AxiosInstance } from 'axios';

  import { ComponentName } from '@/enums/componentName';

  import MoviesList from '@/components/MoviesList.vue';
  import MovieDetails from '@/components/MovieDetails.vue';

  enum AdminTab {
    Movies = 'movies',
    Users = 'users',
    Rentals = 'rentals',
  }

  @Component({
    name: ComponentName.AdminPanel,
    components: { MoviesList, MovieDetails },
  })
  export default class AdminPanel extends Vue {
    private axiosInstance: AxiosInstance = this.$store.getters.getAxiosInstance;

    protected tabs = 0;
    protected dialog = false;
    protected dialogLoading = false;

    protected usernames: string[] = [];

    protected movies: Movie[] = [];
    protected usersMovies: Movie[] = [];
    protected usersRentals: Rental[] = [];

    protected adminTab = AdminTab;

    protected editingMovie: Movie = new Movie();

    protected async userSelected(username: string) {
      const rentals = await this.fetchRentals(username);
      this.usersRentals = rentals;
      this.usersMovies = rentals.map((rental: Rental) => rental.movie as Movie);
    }

    private async fetchRentals(username: string): Promise<Rental[]> {
      const rentals = await this.axiosInstance.get(`/rentals/${username}`);
      return rentals.data;
    }

    private async fetchUsernames(): Promise<string[]> {
      const result = await this.axiosInstance.get('/users');
      return result.data.map((user: User) => user.username);
    }

    private async fetchMovies() {
      const movies = await this.axiosInstance.get('/movies');
      return movies.data;
    }

    private async fetchMovieById(id: string) {
      const movie = await this.axiosInstance.get(`/movies/${id}`);
      return movie.data;
    }

    protected async created() {
      this.tabChanged(AdminTab.Movies);
    }

    protected async tabChanged(tab: AdminTab) {
      switch (tab) {
        case AdminTab.Movies:
          {
            const movies = await this.fetchMovies();
            this.movies = movies;
          }
          break;
        case AdminTab.Users:
        case AdminTab.Rentals:
          {
            const usernames = await this.fetchUsernames();
            this.usernames = usernames;
          }
          break;
        default:
          break;
      }
    }

    protected async editClicked(id: string) {
      this.editingMovie = await this.fetchMovieById(id);
      this.dialog = true;
    }

    protected async removeClicked(id: string) {
      await this.axiosInstance.delete(`/movies/${id}`);
      this.tabChanged(AdminTab.Movies);
    }

    protected cancelClicked() {
      this.dialog = false;
      this.dialogLoading = false;
    }

    protected saveClicked() {
      this.dialogLoading = true;
    }

    protected saveFinished(success: boolean) {
      this.dialogLoading = false;
      if (success) {
        this.dialog = false;
        this.tabChanged(AdminTab.Movies);
      }
    }

    protected addMovieClicked() {
      this.editingMovie = new Movie();
      this.dialog = true;
    }
  }
</script>
