<template>
  <v-container>
    <v-autocomplete
      v-model="select"
      :loading="loading"
      :items="items"
      :search-input.sync="search"
      cache-items
      hide-no-data
      hide-details
      solo-inverted
      label="Wyszukaj film po tytule"
    ></v-autocomplete>

    <movies-list v-bind:movies="movies"></movies-list>

    <v-pagination v-model="page" :length="4" circle></v-pagination>
  </v-container>
</template>

<style lang="scss" scoped></style>

<script lang="ts">
  import Vue from 'vue';
  import { Component } from 'vue-property-decorator';
  import { AxiosInstance } from 'axios';

  import { Movie } from '@/models/movie';
  import { ComponentName } from '@/enums/componentName';
  import MoviesList from '@/components/MoviesList.vue';

  @Component({
    components: { MoviesList },
    name: ComponentName.Home,
  })
  export default class Home extends Vue {
    private axiosInstance: AxiosInstance = this.$store.getters.getAxiosInstance;

    protected select = '';
    protected page = 1;

    protected loading = false;
    protected items = [{ text: 'Bla bla', value: 'asdf' }];
    protected search = '';
    protected movies: Movie[] = [];

    private async fetchMovies() {
      const movies = await this.axiosInstance.get('/movies');
      return movies.data;
    }

    async created() {
      const movies = await this.fetchMovies();
      this.movies = movies;
    }
  }
</script>
