<template>
  <v-container>
    <v-card>
      <v-card-title>
        <h1>
          {{ movie && movie.title }}
        </h1>
      </v-card-title>

      <v-card-subtitle>
        {{ movie && movie.director }}
      </v-card-subtitle>

      <v-card-text>
        {{ movie && movie.rating }}
      </v-card-text>

      <v-card-actions>
        <v-btn
          color="teal"
          outlined
          @click="rent"
          v-if="
            $store.getters.getUser && $store.getters.getUser.role === 'user'
          "
        >
          Wypożycz
        </v-btn>
        <v-btn
          color="teal"
          outlined
          @click="remove"
          v-if="
            $store.getters.getUser && $store.getters.getUser.role === 'admin'
          "
        >
          Usuń
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<style lang="scss" scoped></style>

<script lang="ts">
  import Vue from 'vue';
  import { Component } from 'vue-property-decorator';
  import { AxiosInstance } from 'axios';
  import { Movie } from '@/models/movie';
  import { ComponentName } from '@/enums/componentName';

  @Component({
    name: ComponentName.MovieDetails,
  })
  export default class MovieDetails extends Vue {
    private axiosInstance: AxiosInstance = this.$store.getters.getAxiosInstance;

    protected movie: Movie | null = null;

    private async getMovie(id: string) {
      const movieDetails = await this.axiosInstance.get(`/movies/${id}`);
      return movieDetails.data as Movie;
    }

    protected async rent() {
      await this.axiosInstance.post('/rentals', { id: this.$route.params.id });
    }

    protected async remove() {
      await this.axiosInstance.delete(`/movies/${this.$route.params.id}`, {
        data: { id: this.$route.params.id },
      });
    }

    async created() {
      const movie = await this.getMovie(this.$route.params.id);
      this.movie = movie;
    }
  }
</script>
