<template>
  <v-container>
    <v-card elevation="24">
      <v-tabs v-model="tabs" centered>
        <v-tab key="account"> Szczegóły konta </v-tab>
        <v-tab key="rentals"> Wypożyczenia </v-tab>
      </v-tabs>

      <v-tabs-items v-model="tabs">
        <v-tab-item key="account">
          {{ usersDetails }}
        </v-tab-item>
        <v-tab-item key="rentals">
          <movies-list
            v-bind:movies="movies"
            v-bind:rentals="rentals"
          ></movies-list>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </v-container>
</template>

<script lang="ts">
  import Vue from 'vue';
  import { Component } from 'vue-property-decorator';
  import { AxiosInstance } from 'axios';

  import MoviesList from '@/components/MoviesList.vue';
  import { Rental } from '@/models/rental';
  import { Movie } from '@/models/movie';
  import { ComponentName } from '@/enums/componentName';

  @Component({
    components: { MoviesList },
    name: ComponentName.MyAccount,
  })
  export default class MyAccount extends Vue {
    private axiosInstance: AxiosInstance = this.$store.getters.getAxiosInstance;

    protected tabs = 'account';

    protected usersDetails = '';

    protected rentals: Rental[] = [];
    protected movies: Movie[] = [];

    private async getRentals() {
      const rentals = await this.axiosInstance.get('/rentals');
      return rentals.data;
    }

    private async getUsersDetails() {
      const details = await this.axiosInstance.get('/users/current-user-full');
      return details.data;
    }

    async created() {
      const rentals = await this.getRentals();
      this.rentals = rentals;
      this.movies = rentals.map((rental: Rental) => rental.movie);
      this.usersDetails = JSON.stringify(await this.getUsersDetails(), null, 2);
    }
  }
</script>
